No. | Question
:-:|:-
1 | Do members often spend more at the supermarket than those that are normal?
2 | Which payment method yields an average high purchase rate?
3 | What are the top 3 cities that yield the most gross profit?
4 | Who are most likely to be customers of certain category spenders?
5 | Which category type yields the most income and most unit amount?
6 | Do members spend more than normal status?
7 | What is each city's female to male rate?
8 | What is each city's member to normal rate?
9 | What is the average time of each product line purchase?
10| Is there a correlation of payment method with customer type and time?

In [1]:
import pandas

# pandas.options.display.max_columns = None
# pandas.options.display.max_rows = None

Supermarket_path = pandas.read_csv("supermarket_sales.csv")
Supermarket_path

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [20]:
#Do members often spend more at the supermarket than those that are normal?
members=Supermarket_path[Supermarket_path["Customer type"]=="Member"]
member_avg=members["Total"].mean()
normal=Supermarket_path[Supermarket_path["Customer type"]=="Normal"]
normal_avg=normal["Total"].mean()
Result=member_avg>normal_avg
Result

True

In [15]:
#Which payment method yields an average high quantity rate?
q2_info=Supermarket_path["Payment"].unique()
payment=q2_info[0]
for i in range(0,len(q2_info)):
    if((Supermarket_path[ Supermarket_path["Payment"]==q2_info[i]]["Quantity"].mean())>(Supermarket_path[ Supermarket_path["Payment"]==payment]["Quantity"].mean())):
        payment=q2_info[i]
payment

'Credit card'

In [17]:
#What is the top city that yield the most gross profit?
q3_info=Supermarket_path["City"].unique()
gross_profit=q3_info[0]
for i in range (0, len(q3_info)):
    if((Supermarket_path[Supermarket_path["City"]==q3_info[i]]["gross income"].mean())>(Supermarket_path[Supermarket_path["City"]==gross_profit]["gross income"].mean())):
        gross_profit=q3_info[i]
gross_profit

'Naypyitaw'

In [43]:
# Who are most likely to be customers of certain category spenders?
import statistics
categories=Supermarket_path["Product line"].unique()
customers=Supermarket_path["Customer type"].unique()
result={}
for i in range(0, len(categories)):
    info=statistics.mode(Supermarket_path[Supermarket_path["Product line"]==categories[i]]["Customer type"])
    result[categories[i]]=info
result

{'Health and beauty': 'Normal',
 'Electronic accessories': 'Normal',
 'Home and lifestyle': 'Member',
 'Sports and travel': 'Member',
 'Food and beverages': 'Member',
 'Fashion accessories': 'Normal'}

In [ ]:
# Which category type yields the most income and most unit amount?